<!DOCTYPE html>
<html lang="es" class="{{ 'dark' if session.get('theme') == 'dark' else '' }}">
<head>
  <meta charset="utf-8"/>
  <link crossorigin="" href="https://fonts.gstatic.com/" rel="preconnect"/>
  <link as="style" href="https://fonts.googleapis.com/css2?display=swap&family=Inter:wght@400;500;700;900&family=Noto+Sans:wght@400;500;700;900" onload="this.rel='stylesheet'" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
  <title>{% block title %}Weigence{% endblock %}</title>
  <link href="data:image/x-icon;base64," rel="icon" type="image/x-icon"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>
<body class="bg-[var(--bg-light)] text-[var(--text-light)]">
<div class="flex h-screen">
  <!-- Sidebar -->
  {% block sidebar %}{% endblock %}

  <!-- Contenedor derecho -->
  <div class="flex flex-col flex-1">
    <!-- Header -->
    <header class="bg-white dark:bg-neutral-900 flex h-20 items-center justify-between px-6 shadow-sm bg-neutral-900 text-neutral-100 border-b border-neutral-800">

      {% block top %}{% endblock %}
    </header>

    <!-- Contenido -->
    <main class="flex-1 px-6 py-8 overflow-y-auto">
      {% block contenido %}{% endblock %}
    </main>
  </div>
</div>

<div id="toast" class="toast"></div>


  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/inventario.js') }}"></script>
  <script src="{{ url_for('static', filename='js/charts.js') }}"> </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script>

  </script>

</body>
</html>
